body 
{
    text-align:center;
    margin: 0;
    background-image: url(images/background2.jpg);
}


#sContent::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 25px;
}
 
#sContent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  border-radius: 0px;
}
 
#sContent::-webkit-scrollbar-thumb {
  background-color: aquamarine;
  
  border-radius: 0px;
}

/*still need to go over css to delete obsolete attributes*/

label
{
    border-radius: 0px;
}

header
{
    position: fixed;
    top: -10;
    left: -15;
    right: 0;

    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 1%;
    z-index:1000;
    /*border-radius: 60px;*/
}

.HeaderLogo {
    text-align: center;
    margin: 0 auto;
    width:10%;
}


#frontDiv
{
    width: 80%;
    height: 80%;
    background-color: #f1ece7;
   
   border-width: 3px;
   border-style:solid;
   border-color: aquamarine;
    border-radius: 25px;
    text-align:center;
    position: relative;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.cBox
{
  display: inline-block;
	width: 32%;
  height: 30;
  vertical-align: middle;
  margin-top: 13;
	text-align: center;
  position: relative;

} 
.contactsBox:hover
{
  background-color: #d6d6d6;
}

.contactsBox  {
	background-color: rgb(255, 255, 255);
	width: 99.9%;
	height: 56px;
	
  
 
	padding: 0px;
	align-items: flex;
	overflow: hidden;
	border-bottom: 1.5px solid rgb(134, 134, 134);
  text-align: center;
  
}

#sDiv
{
    width: 50%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    position:fixed;
   
   border-width: 3px;
   border-style:solid;
   border-color: aquamarine;
    border-radius: 25px;
    text-align:center;
    
    margin: auto;
    margin-top: 10%;
    float: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    border-radius: 25px;
    opacity: 0.8;

    
    
}

#sContent
{
  height: 85%;
  margin-top: 0;
  width: 100%;
   overflow:auto;
   
   background-color: rgb(255, 255, 255);
   
}

#loginDiv
{
    font-size: 30px;
    width: 30%;
    padding: 10px;
    background-color: #c9c9c9;

    display: inline-block;
    height: 75%;
    margin:auto;
    margin-left: 10%;
    vertical-align:top;
    margin-top: 5%;
}


.search {
  background-color: rgb(255, 255, 255);
  width: 80%;
  border-radius: 25px;
  margin-top: 1%;
  margin-left: 9%;


  
 
  
}
	
	#inpt_search {
    border: 0;
    outline: 0;
    width: 100%;
    
    font-size: 21;
    background: transparent;
    border-bottom: 1px solid black;
    


    
    
    
	}



#addDiv
{
    font-size: 30px;
    width: 30%;
    padding: 10px;
    background-color: #c9c9c9;
    display: inline-block;
    margin-right: 100px;
    height: 75%;
    margin:auto;
    margin-top: 0%;
    vertical-align:top;
    margin-top: 5%;
}



.vl 
{
  height: 75%;
  border: 1px solid rgb(85, 85, 85);
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    margin-left: 10%;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#registerButton, #loginButton, #addButton, #searchButton
{
    /*
    font-size: 30px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    font-family: 'Ubuntu', sans-serif;
    */
    /*copy from input type=submit*/
    background-color: aquamarine;
    color: black;
    width: 80%;
    height: 9%;
}

#registerButton:hover, #loginButton:hover, #addButton:hover, #searchButton:hover{
    /*
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
    */
    /*copy from input type=submit:hover*/
    background-color: #ffffff; /* Green */
    color: aquamarine;
    border-color: aquamarine;
}



#colorText
{
	font-size: 30px;
}

input[type="text"],input[type="password"]{
    
    width: 80%;
    height: 9%;
    text-align: left;
    margin-bottom: 4%;
    font-family: 'Ubuntu', sans-serif;
}

input[type="submit"]
{
    background-color: aquamarine;
    color: black;
    width: 80%;
    height: 9%;
}

input[type="submit"]:hover {
    background-color: #ffffff; /* Green */
    color: aquamarine;
    border-color: aquamarine;
  }
#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#loginResult, #contactAddResult, #contactSearchResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

/*from dashboard.css*/
#mainHeader{
    /*what ever you add here spans the page*/
    margin: 0;
    text-align: center;
  }
  
  .container{
    width: 95%;
    /*this might be what's doing the wierd margin thing since container wraps everything*/
    margin: auto;
    overflow: hidden;
  }
  
  a:link, a:visited{
    color:black;
    text-decoration: none;
  }
  
  a:hover{
    color: #AAF4CC;
  }
  
  h1{
    background: #E7DDD3;
    border-radius: 30px;
    /*
    border:10px solid black;
    */
    /*display: inline-block;---crops width to content---*/
    margin-top: 10%;
    margin-bottom: 10px;
  }
  
  .row {
    display: flex;
  }
  
  .column {
    
    flex: 50%;
    padding: 0% 5% 5% 5%;
    margin: 1%;
    background: #AAF4CC;
    border-radius: 25px;
    text-align: center;
    
  }
  
  .contactField{
    /*background: #E7DDD3;*/
    padding: 3% 0%;
    border-radius: 25px;
  }
  
  #window{
    background: #AAF4CC;
    border-radius: 25px;
    font-size: 25px;
    font-weight: bold;
    padding: 7% 0%;
  }
  
  #actionButtons{
    /*use to separate buttons*/
  }

  /*----for mobile responsiveness----*/
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

 
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
