body 
{
    text-align:center;
    margin: 0;


}
label
{
    border-radius: 0px;
}
header
{
    position: fixed;
    top: -10;
    left: -15;
    right: 0;

    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 1%;
    z-index:1000;
    border-radius: 60px;



}

.HeaderLogo {
    text-align: center;
    margin: 0 auto;
    width:10%;
}


#dashDiv
{
   
    width: 80%;
    height: 80%;
    background-color: #f1ece7;
   
   border-width: 3px;
   border-style:solid;
   border-color: aquamarine;
    border-radius: 25px;
    text-align:center;
    position: relative;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
   

}

#searchDiv
{
    font-size: 30px;
    width: 30%;
    padding: 10px;
    background-color: #c9c9c9;

    display: inline-block;
    height: 75%;
    margin:auto;
    margin-left: 10%;
    vertical-align:top;
    margin-top: 5%;
    




}
#addDiv
{
    font-size: 30px;
    width: 30%;
    padding: 10px;
    background-color: #c9c9c9;
    display: inline-block;
    margin-right: 100px;
    height: 75%;
    margin:auto;
    margin-top: 0%;
    vertical-align:top;
    margin-top: 5%;



}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
    border: 5px solid gray;

}
.vl 
{
    
 
  height: 75%;
  border: 1px solid rgb(85, 85, 85);
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    margin-left: 10%;

    
    
    
    
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    font-size: 30px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    font-family: 'Ubuntu', sans-serif;
}

.buttons:hover{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
}

#loginName
{
	font-size: 30px;
}
#loginPassword
{
	font-size: 30px;
}
#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

input[type="text"],input[type="password"]{
    
    width: 80%;
    height: 9%;
    text-align: left;
    margin-bottom: 4%;
    font-family: 'Ubuntu', sans-serif;
}

input[type="submit"]
{
    background-color: aquamarine;
    color: black;
    width: 80%;
    height: 9%;
}

input[type="submit"]:hover {
    background-color: #ffffff; /* Green */
    color: aquamarine;
    border-color: aquamarine;
  }
#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}
