body, #bd 
{
    text-align:center;
    margin: 0;
    background-image: url(images/background2.jpg);
}


#sContent::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 25px;
}
 
#sContent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  border-radius: 0px;
}
 
#sContent::-webkit-scrollbar-thumb {
  background-color: aquamarine;
  
  border-radius: 0px;
}

/*still need to go over css to delete obsolete attributes*/

label
{
    border-radius: 0px;
}

#header
{
    position: fixed;
    top: -10;
    left: -15;
    right: 0;

    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 1%;
    z-index:1000;
    box-shadow: 0 0 10px aquamarine;
    border-color: aquamarine;
    border-width: 5px;

    /*border-radius: 60px;*/
}

#HeaderLogo {
    text-align: center;
    margin: 0 auto;
    width:10%;

    
 
}


#frontDiv
{
    width: 80%;
    height: 80%;
    background-color: #f1ece7;
   
   border-width: 3px;
   border-style:solid;
   border-color: aquamarine;
    border-radius: 25px;
    text-align:center;
    position: fixed;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 20%;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.cBox
{
  display: inline-block;
	width: 32%;
  height: 30;
  vertical-align: middle;
  margin-top: 13;
	text-align: center;
  position: relative;

} 
.contactsBox:hover
{
  background-color: #d6d6d6;
}

.contactsBox  {
	background-color: rgb(255, 255, 255);
	width: 99.9%;
	height: 56px;
	
  
 
	padding: 0px;
	align-items: flex;
	overflow: hidden;
	border-bottom: 1.5px solid rgb(134, 134, 134);
  text-align: center;
  
}

#sDiv
{
    width: 70%;
    height: 80%;
    background-color: #000000;
    position:fixed;
   
   border-width: 3px;
   border-style:solid;
   border-color: aquamarine;
    border-radius: 25px;
    text-align:center;
    
    margin: auto;
    margin-top: 10%;
    float: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    border-radius: 25px;
    opacity: 0.8;

    
    
}

#sContent
{
  height: 82%;
  margin-top: 0;
  width: 100%;
   overflow:auto;
   border-radius: 25px;

   
   
   
}

#loginDiv
{
    font-size: 30px;
    width: 30%;
    padding: 10px;
    background-color: #c9c9c9;

    display: inline-block;
    height: 75%;
    margin:auto;
    margin-left: 10%;
    vertical-align:top;
    margin-top: 5%;
}


.search {
  width: 80%;
  border-radius: 25px;
  margin-top: 1%;
  margin-left: 9%;


  
 
  
}
	
	#inpt_search {
    border: 0;
    outline: 0;
    width: 100%;
    
    font-size: 21;
    background: transparent;
    border-bottom: 1px solid rgb(255, 255, 255);
    color: white;
    


    
    
    
	}



#addDiv
{
    font-size: 30px;
    width: 30%;
    padding: 10px;
    background-color: #c9c9c9;
    display: inline-block;
    margin-right: 100px;
    height: 75%;
    margin:auto;
    margin-top: 0%;
    vertical-align:top;
    margin-top: 5%;
}



.vl 
{
  height: 75%;
  border: 1px solid aquamarine;
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    margin-left: 10%;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}



#registerButton, #loginButton, #addButton, #searchButton, .modifyButton
{
    /*
    font-size: 30px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    font-family: 'Ubuntu', sans-serif;
    */
    /*copy from input type=submit*/
    background-color: aquamarine;
    color: black;
    width: 80%;
    height: 9%;
}

.modifyButton {
  width: 100%;
}


#registerButton:hover, #loginButton:hover, #addButton:hover, #searchButton:hover, .modifyButton:hover, .saveButton:hover{
    /*
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
    */
    /*copy from input type=submit:hover*/
    background-color: #ffffff; /* Green */
    color: aquamarine;
    border-color: aquamarine;
}

.deleteButton
{
  
    background-color: red;
    color: white;
    width: 100%;
    height: 9%;
    margin-bottom: 15px;
    margin-top: 15px

}

.exitButton {

  display: none;
   background-color: red;
    color: white;
    width: 17%;
    height: 9%;
    margin-bottom: 10px;
}

.saveButton {

  display: none;
  background-color: aquamarine;
  color: black;
  width: 17%;
  height: 9%;
   margin-bottom: 10px;
       margin-right: 15%;

}

.deleteButton:hover, .exitButton:hover{

    background-color: #ffffff; /* Green */
    color: red;
    border-color: red;
}


#colorText
{
	font-size: 30px;
}

input[type="text"],input[type="password"]{
    
    width: 80%;
    height: 9%;
    text-align: left;
    margin-bottom: 4%;
    font-family: 'Ubuntu', sans-serif;
}

input[type="submit"]
{
    background-color: aquamarine;
    color: black;
    width: 80%;
    height: 9%;
}

input[type="submit"]:hover {
    background-color: #ffffff; /* Green */
    color: aquamarine;
    border-color: aquamarine;
  }
#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#loginResult, #contactAddResult, #contactSearchResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 3%;
    margin-left: 35%;
    margin-top: 10px;
  position:fixed;
    text-align: center;
      color: white;
      transform: translateX(2000%); 
      font-family: 'Share Tech Mono', monospace;

     


}

#logoutButton:hover{
 

 
    color: aquamarine;
 
    
    border-bottom: 2px solid aquamarine;



   


}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

/*from dashboard.css*/
#mainHeader{
    /*what ever you add here spans the page*/
    margin: 0;
    text-align: center;
  }
  
  .container{
    width: 95%;
    /*this might be what's doing the wierd margin thing since container wraps everything*/
    margin: auto;
    overflow: hidden;
  }
  .container2{
    width: 85%;
    /*this might be what's doing the wierd margin thing since container wraps everything*/
    margin: auto;
    overflow: hidden;
    height: 85%;
  }
  
  a:link, a:visited{
    color:black;
    text-decoration: none;
  }
  
  a:hover{
    color: #AAF4CC;
  }
  
  #userName2{
    
    
    /*
    border:10px solid black;
    */
    /*display: inline-block;---crops width to content---*/
    margin-top: 5%;
    margin-bottom: 10px;
  }
  
  .row {
    display: flex;
    height: 100%;
  }
  
  .column {
    
    flex: 50%;
    
    padding: 0% 5% 5% 5%;
    margin: 3%;
    background: #AAF4CC;
    border-radius: 10px;
    text-align: center;
    
    
  }

  .column2 {
    
    flex: 50%;
    
    padding: 0% 5% 5% 5%;
    margin: 3%;
    
    background: #AAF4CC;
    border-radius: 10px;
    text-align: center;
    
    
  }
  
  .contactField{
    /*background: #E7DDD3;*/
    padding: 3% 0%;
    border-radius: 25px;
  }
  
  #window{
    background: #AAF4CC;
    border-radius: 25px;
    font-size: 25px;
    font-weight: bold;
    padding: 7% 0%;
  }
  
  #actionButtons{
    /*use to separate buttons*/
  }

  /*----for mobile responsiveness----*/
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

 
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  display: none;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 45%;
  height: 60%;
  border-radius: 10px;
  box-shadow: 0 0 10px aquamarine;
}

/* The Close Button */
.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  z-index: 1000;
  
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.line-1{
  position: relative;
  top: 50%;  
  width: 24em;
  margin: 0 auto;
  
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%); 
  font-family: 'Share Tech Mono', monospace;
   
}

/* Animation */
.anim-typewriter{
animation: typewriter 4s steps(44) 1s 1 normal both,
           blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 24em;}
}

.pInfo {
  color: white;
  font-family: 'Share Tech Mono', monospace;

}